 <!--== Page Title Area Start ==-->
 <section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Page Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Our Cars</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <!-- Page Title End -->
        </div>
    </div>
</section>
<!--== Page Title Area End ==-->

<!--== Car List Area Start ==-->
<section id="car-list-area" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Car List Content Start -->
            <div class="col-lg-8">
                <div class="car-details-content">
                    <h2>Aston Martin One-77</h2>
                    <div class="car-preview-crousel">
                        <div class="single-car-preview">
                            <img src="../../assets/client/img/car/car-1.jpg" alt="JSOFT">
                        </div>
                        <div class="single-car-preview">
                            <img src="../../assets/client/img/car/car-2.jpg" alt="JSOFT">
                        </div>
                        <div class="single-car-preview">
                            <img src="../../assets/client/img/car/car-3.jpg" alt="JSOFT">
                        </div>
                    </div>
                    <div class="car-details-info">
                        <h4>Additional Info</h4>
                        <p>The Aventador LPER 720-4 50° ise a limited (200 units – 100 Coupe and 100 Roadster) versione of thed Aventadored LP 700-4 commemorating the 50th anniversary of Lamborghini. It included ised increased engine power to 720 PS (530 kW; 710 bhp) via a new specific engine calibration, enlarged and extended front air intakes and the aerodynamic splitter.</p>

                        <div class="technical-info">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="tech-info-table">
                                        <table class="table table-bordered">
                                            <tr>
                                                <th>Loại xe</th>
                                                <td>4 chỗ</td>
                                            </tr>
                                            <tr>
                                                <th>Nhiên liệu</th>
                                                <td>Dầu</td>
                                            </tr>
                                            <tr>
                                                <th>Mức tiêu thụ nhiên liệu</th>
                                                <td>7,3 lít/100 km</td>
                                            </tr>
                                            <tr>
                                                <th>Hệ thống dẫn động</th>
                                                <td>FWD (Dẫn động cầu trước)</td>
                                            </tr>
                                            <tr>
                                                <th>Hộp số</th>
                                                <td>Số tự động</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="tech-info-list">
                                        <ul>
                                            <li><i class="fas fa-check-circle"></i> ABS</li>
                                            <li><i class="fas fa-check-circle"></i> Air Bags</li>
                                            <li><i class="fas fa-check-circle"></i> Bluetooth</li>
                                            <li><i class="fas fa-check-circle"></i> Car Kit</li>
                                            <li><i class="fas fa-check-circle"></i> GPS</li>
                                            <li><i class="fas fa-check-circle"></i> Music</li>
                                            <li><i class="fas fa-check-circle"></i> Bluetooth</li>
                                            <li><i class="fas fa-check-circle"></i> ABS</li>
                                            <li><i class="fas fa-check-circle"></i> GPS</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                              <!-- Trạng thái -->
                              <div class="form-group">
                                <label>Trạng thái xe</label>
                                <div class="form-row">
                                  <div class="form-group col-md-1"></div>
                                  <div class="form-group col-md-3">
                                    <input class="form-check-input" type="radio" name="status" id="areactive" value="areactive" disabled checked>
                                    <label class="form-check-label" for="areactive">
                                      Đang cho thuê
                                    </label>
                                  </div>
                                  <!--  -->
                                  <div class="form-group col-md-3">
                                    <input class="form-check-input" type="radio" name="status" id="stillempty" value="stillempty" disabled>
                                    <label class="form-check-label" for="stillempty">
                                      Còn trống
                                    </label>
                                  </div>
                                  <!--  -->
                                  <div class="form-group col-md-3">
                                    <input class="form-check-input" type="radio" name="status" id="maintenance" value="maintenance" disabled>
                                    <label class="form-check-label" for="maintenance">
                                      Bảo trì 
                                    </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!--  -->
                            <div class="form-group col-md-12">
                              <!-- Tình trạng xe -->
                              <div class="form-group">
                                <label>Tình trạng xe</label>
                                <div class="form-row">
                                  <div class="form-group col-md-1"></div>
                                  <div class="form-group col-md-3">
                                    <input class="form-check-input" type="radio" name="roles" id="CEO" value="CEO" disabled checked>
                                    <label class="form-check-label" for="CEO">
                                      Đang kinh doanh
                                    </label>
                                  </div>
                                  <div class="form-group col-md-1"></div>
                                  <div class="form-group col-md-3">
                                    <input class="form-check-input" type="radio" name="roles" id="Staff" value="Staff" disabled>
                                    <label class="form-check-label" for="Staff">
                                      Ngừng kinh doanh
                                    </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        <div class="review-area">
                            <h3>Be the first to review “Aston Martin One-77”</h3>
                            <div class="review-star">
                                <p class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star unmark"></i>
                                    <i class="fa fa-star unmark"></i>
                                </p>
                            </div>
                            <div class="review-form">
                                <form action="index.html">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="name-input">
                                                <input type="text" placeholder="Full Name">
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6">
                                            <div class="email-input">
                                                <input type="email" placeholder="Email Address">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="message-input">
                                        <textarea name="review" cols="30" rows="5" placeholder="Write Your Feedback Here!"></textarea>
                                    </div>

                                    <div class="input-submit">
                                        <button type="submit">Submit</button>
                                        <button type="reset">Clear</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Car List Content End -->

            <!-- Sidebar Area Start -->
            <div class="col-lg-4">
                <div class="sidebar-content-wrap m-t-50">
                    <!-- Single Sidebar Start -->
                    <!-- <div class="single-sidebar">
                        <h3>For More Informations</h3>

                        <div class="sidebar-body">
                            <p><i class="fa fa-mobile"></i> +8801816 277 243</p>
                            <p><i class="fa fa-clock-o"></i> Mon - Sat 8.00 - 18.00</p>
                        </div>
                    </div> -->
                    <!-- Single Sidebar End -->

                    <!-- Single Sidebar Start -->
                    <div class="single-sidebar">
                        <h3><span class="price">Rent: <b>$150</b> / <b>ngày</b></span></h3>
                        <div class="sidebar-body">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <h6>Ngày bắt đầu</h6><br>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           placeholder="Ngày bắt đầu...."
                                           class="form-control"
                                           bsDatepicker [bsConfig]="datePickerConfig"
                                           [minDate]="minDate">
                                    <timepicker [(ngModel)]="GKH" id="GKH"></timepicker>
                                  </div>
                            </div>
                            <br>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <h6>Ngày kết thúc</h6><br>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           placeholder="Ngày kết thúc...."
                                           class="form-control"
                                           bsDatepicker [bsConfig]="datePickerConfig"
                                           [minDate]="minDate2">
                                    <timepicker [(ngModel)]="GKT" id="GKT"></timepicker>
                                  </div>
                                  
                            </div>
                            <br>
                            <!-- <div class="form-group">
                                <h6>Địa chỉ giao nhận xe</h6>
                                <br>
                                <div class="form-row">
                                  <div class="form-group col-md-1"></div>
                                  <div class="form-group col-md-5">
                                    <input class="form-check-input" type="radio" name="genter" id="male" value="male" checked>
                                    <label class="form-check-label" for="male">
                                      Giao tận nơi
                                    </label>
                                  </div>
                                  
                                  <div class="form-group col-md-1"></div>
                                  <div class="form-group col-md-5">
                                    <input class="form-check-input" type="radio" name="genter" id="female" value="female">
                                    <label class="form-check-label" for="female">
                                      Đến cơ sở
                                    </label>
                                  </div>
                                </div>
                              </div> -->
                            <div class="form-group">
                               <h6>Chi tiết giá</h6><br>
                                <div class="form-row">
                                  <div class="form-group col-md-1"></div>
                                    <label>
                                        Đơn giá thuê:
                                    </label>
                                    <div style="margin-left: 100px;">$150/Ngày</div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-1"></div>
                                      <label>
                                          Phí dịch vụ:
                                      </label>
                                      <div style="margin-left: 121px;">$15/Ngày</div>
                                  </div>
                                  <hr>
                                  <div class="form-row">
                                    <div class="form-group col-md-1"></div>
                                      <label>
                                          Tổng phí thuê:
                                      </label>
                                      <div style="margin-left: 70px;">$165x1 Ngày</div>
                                  </div>
                                  <hr>
                                  <div class="form-row">
                                    <div class="form-group col-md-1"></div>
                                      <label>
                                          Tổng cộng:
                                      </label>
                                      <div style="margin-left: 100px;">$165x1 Ngày</div>
                                  </div>
                                  <div class="form-row">
                                    <!-- <div class="form-group col-md-7"></div> -->
                                    <div class="input-submit" id="book">
                                    <button type="submit">Đặt xe</button>
                                    </div>
                                  </div>
                                 
                            </div>
                            
                        </div>
                    </div>
                    <!-- Single Sidebar End -->

                    <!-- Single Sidebar Start -->
                   
                    <!-- Single Sidebar End -->
                </div>
            </div>
            <!-- Sidebar Area End -->
        </div>
    </div>
</section>
<!--== Car List Area End ==-->