<!--== Preloader Area Start ==-->
<div class="preloader">
    <div class="preloader-spinner">
        <div class="loader-content">
            <img src="../../assets/client/img/preloader.gif" alt="JSOFT">
        </div>
    </div>
  </div>
  <!--== Preloader Area End ==-->
  
  <!--== Header Area Start ==-->
  <header id="header-area" class="fixed-top">  
    <!--== Header Top Start ==-->
    <div id="header-top" class="d-none d-xl-block">
        <div class="container">
            <div class="row">
                <!--== Single HeaderTop Start ==-->
                <div class="col-lg-3 text-left">
                    <i class="fas fa-map-marker-alt"></i> 802/2, Mirpur, Dhaka
                </div>
                <!--== Single HeaderTop End ==-->
  
                <!--== Single HeaderTop Start ==-->
                <div class="col-lg-3 text-center">
                    <i class="fas fa-mobile-alt"></i> +1 800 345 678
                </div>
                <!--== Single HeaderTop End ==-->
  
                <!--== Single HeaderTop Start ==-->
                <div class="col-lg-3 text-center">
                    <i class="far fa-clock"></i> Mon-Fri 09.00 - 17.00
                </div>
                <!--== Single HeaderTop End ==-->

                 <!--== Single HeaderTop Start ==-->
                 <!-- <div class="col-lg-3 text-center">
                    <nav style="margin-top: -8px;">
                        <ul class="navbar-nav ml-auto ml-md-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-user fa-fw"></i> Nguyễn Tiến Lực</a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="#" style="color: #000;"><i class="far fa-address-card"></i>  Thông tin cá nhân</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" style="color: #000;"><i class="fas fa-sign-out-alt"></i>  Đăng xuất</a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div> -->
                <!--== Single HeaderTop End ==-->
  
                <!--== Social Icons Start ==-->
                <!-- <div class="col-lg-3 text-right">
                    <div class="header-social-icons">
                        <a routerLink="#"><i class="fa fa-behance"></i></a>
                        <a routerLink="#"><i class="fa fa-pinterest"></i></a>
                        <a routerLink="#"><i class="fa fa-facebook"></i></a>
                        <a routerLink="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div> -->
                <!--== Social Icons End ==-->
            </div>
        </div>
    </div>
    <!--== Header Top End ==-->
  
    <!--== Header Bottom Start ==-->
    <div id="header-bottom">
        <div class="container">
            <div class="row">
                <!--== Logo Start ==-->
                <div class="col-lg-3">
                    <a routerLink="index2.html" class="logo">
                        <img src="../../../assets/client/img/logo4.png" alt="JSOFT">
                    </a>
                </div>
                <!--== Logo End ==-->
  
                <!--== Main Menu Start ==-->
                <div class="col-lg-6 d-none d-xl-block">
                    <nav class="mainmenu alignright">
                        <ul>
                            <li><a routerLink="home" >Home</a>
                            </li>
                            <li><a routerLink="about" routerLinkActive="active" >About</a></li>
                            <li><a routerLink="services" routerLinkActive="active" >services</a></li>
                            <li><a routerLink="car" routerLinkActive="active">Cars</a></li>
                            
                            <li><a routerLink="#">Blog</a>
                                <ul>
                                    <li><a routerLink="blog" routerLinkActive="active" >Blog Page</a></li>
                                    <li><a routerLink="blogdetail" routerLinkActive="active">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a routerLink="contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 d-none d-xl-block">
                    <nav class="sb-topnav navbar navbar-expand">
                        <ul class="navbar-nav ml-auto ml-md-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-user fa-fw"></i> Nguyễn Tiến Lực</a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="#/index/information" style="color: #000;"><i class="far fa-address-card"></i>  Thông tin cá nhân</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#/login" style="color: #000;"><i class="fas fa-sign-out-alt"></i>  Đăng xuất</a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- <div class="col-lg-2 text-center">
                    
                </div> -->
                <!--== Main Menu End ==-->
            </div>
        </div>
    </div>
    <!--== Header Bottom End ==-->
  </header>
  <!--== Header Area End ==-->
  
  <router-outlet></router-outlet>
  
  <!--== Footer Area Start ==-->
  <section id="footer-area">
    <!-- Footer Widget Start -->
    <div class="footer-widget-area">
        <div class="container">
            <div class="row">
                <!-- Single Footer Widget Start -->
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <h2>About Us</h2>
                        <div class="widget-body">
                            <img src="../../../assets/client/img/logo4.png" alt="JSOFT">
                            <p>Lorem ipsum dolored is a sit ameted consectetur adipisicing elit. Nobis magni assumenda distinctio debitis, eum fuga fugiat error reiciendis.</p>
  
                            <div class="newsletter-area">
                                <form action="index.html">
                                    <input type="email" placeholder="Subscribe Our Newsletter">
                                    <button type="submit" class="newsletter-btn"><i class="fas fa-paper-plane"></i></button>
                                </form>
                            </div>
  
                        </div>
                    </div>
                </div>
                <!-- Single Footer Widget End -->
  
                <!-- Single Footer Widget Start -->
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <h2>Recent Posts</h2>
                        <div class="widget-body">
                            <ul class="recent-post">
                                <li>
                                    <a routerLink="#">
                                       Hello Bangladesh! 
                                       <i class="fas fa-long-arrow-alt-right"></i>
                                   </a>
                                </li>
                                <li>
                                    <a routerLink="#">
                                      Lorem ipsum dolor sit amet
                                      <i class="fas fa-long-arrow-alt-right"></i>
                                   </a>
                                </li>
                                <li>
                                    <a routerLink="#">
                                       Hello Bangladesh! 
                                       <i class="fas fa-long-arrow-alt-right"></i>
                                   </a>
                                </li>
                                <li>
                                    <a routerLink="#">
                                        consectetur adipisicing elit?
                                        <i class="fas fa-long-arrow-alt-right"></i>
                                   </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single Footer Widget End -->
  
                <!-- Single Footer Widget Start -->
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <h2>get touch</h2>
                        <div class="widget-body">
                            <p>Lorem ipsum doloer sited amet, consectetur adipisicing elit. nibh auguea, scelerisque sed</p>
  
                            <ul class="get-touch">
                                <li><i class="fas fa-map-marker-alt"></i> 800/8, Kazipara, Dhaka</li>
                                <li><i class="fas fa-mobile-alt"></i> +880 01 86 25 72 43</li>
                                <li><i class="fa fa-envelope"></i> kazukamdu83@gmail.com</li>
                            </ul>
                            <a href="https://www.google.com/maps/place/FPT+Polytechnic+Hanoi/@21.038128,105.746787,17z/data=!4m5!3m4!1s0x0:0x53cefc99d6b0bf6f!8m2!3d21.0381278!4d105.7467871?hl=en" class="map-show" target="_blank">Show Location</a>
                        </div>
                    </div>
                </div>
                <!-- Single Footer Widget End -->
            </div>
        </div>
    </div>
    <!-- Footer Widget End -->
  
    <!-- Footer Bottom Start -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom End -->
  </section>
  <!--== Footer Area End ==-->
  
  <!--== Scroll Top Area Start ==-->
  <div class="scroll-top">
    <img src="../../assets/client/img/scroll-top.png" alt="JSOFT">
  </div>
  <!--== Scroll Top Area End ==-->
  